* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-container {
    background-color: #fff;
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.signup-container {
    background-color: #fff;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    text-align: center;
    font-size: 40px;
    width: 100%;
    padding: 20px 0;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 30px;
}
.signup-form {
    padding-bottom: 20px;
}
.input-cont {
    padding: 20px 0;
}
input {
    outline: none;
    border: none;
    border-bottom: solid 1px #dae0e6;
    height: 40px;
    padding: 5px 5px;
}
button {
    width: 135px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(27, 162, 252);
    color: #fdfdfd;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 20px;
}
.validation {
    color: red;
}